<div class="container mt-4">
  <!-- Filter Form -->
  <div id="wrapper">
    <div id="filter">
      <h2>Filter</h2>
      <form [formGroup]="filterForm">
        <div>
          <input type="text" class="form-control" placeholder="Filter by ID" formControlName="id" />
          <input type="text" class="form-control" placeholder="Filter by Name" formControlName="name" />
        </div>
        <div>
          <input type="number" class="form-control" placeholder="Min Price" formControlName="minPrice" />
          <input type="number" class="form-control" placeholder="Max Price" formControlName="maxPrice" />
        </div>
        <div>
          <input type="number" class="form-control" placeholder="Min Volume" formControlName="minVolume" />
          <input type="number" class="form-control" placeholder="Max Volume" formControlName="maxVolume" />
        </div>
        <div class="col-md-6 form-check">
          <input type="checkbox" class="form-check-input" id="inStock" formControlName="inStockOnly" />
          <label class="form-check-label" for="inStock">In Stock Only</label>
        </div>
        <div>
          <div class="form-group">
            <select class="form-control-categories" formControlName="categories" multiple size="10" id="categories">
              <option value="">{{ 'Select Category' }}</option>
              <ng-container *ngFor="let category of categoryIdTree">
                <option [value]="category.id">{{ categoryNameCache.get(category.id) }}</option>
                
                <ng-container *ngIf="category.children">
                  <ng-container *ngFor="let subCategory of category.children">
                    <option [value]="subCategory.id">- {{ categoryNameCache.get(subCategory.id) }}</option>
                    
                    <ng-container *ngIf="subCategory.children">
                      <ng-container *ngFor="let subSubCategory of subCategory.children">
                        <option [value]="subSubCategory.id">-- {{ categoryNameCache.get(subSubCategory.id) }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </select>
          </div>
          
        </div>
      </form>
    </div>

    <!-- Sorting Form -->
    <div id="sorting">
      <h2>Sorting</h2>
      <form [formGroup]="sortForm">
        <div>
          <select class="form-control" formControlName="sortKey">
            <option value="id">ID</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="stock">Stock</option>
            <option value="volume">Volume</option>
            <option value="categories">Categories</option>
          </select>
          <select class="form-control" formControlName="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset filters button -->
  <div id="buttons">
    <button class="btn btn-secondary" (click)="resetButton()">Reset</button>
  </div>

  <!-- Product List with Virtual Scrolling -->
  <h2>Product List</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th (click)="sortForm.patchValue({ sortKey: 'id' })" class="clickable table-header">ID</th>
        <th (click)="sortForm.patchValue({ sortKey: 'name' })" class="clickable table-header">Name</th>
        <th (click)="sortForm.patchValue({ sortKey: 'price' })" class="clickable table-header">Price</th>
        <th (click)="sortForm.patchValue({ sortKey: 'stock' })" class="clickable table-header">Stock</th>
        <th (click)="sortForm.patchValue({ sortKey: 'volume' })" class="clickable table-header">Volume</th>
        <th (click)="sortForm.patchValue({ sortKey: 'categories' })" class="clickable table-header">Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts$ | async">
        <td>{{ product.product.id }}</td>
        <td>{{ product.product.name }}</td>
        <td>{{ product.product.extra['AGA'].PRI }}</td>
        <td>
          {{ product.product.extra['AGA'].LGA > 0 ? 'In Stock' : 'Out of Stock' }}
        </td>
        <td>{{ product.product.extra['AGA'].VOL }}</td>
        <td>{{ getCategoryNames(product.categories) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Debugging output -->
<!--
{{ filteredProducts$ | async | json }} 
<p></p>
<div *ngFor="let category of categoryTreeLeafMap | keyvalue">
  {{ category.key }}: {{ category.value }}
</div>
<p></p>
<div *ngFor="let category of categoryNameCache | keyvalue">
  {{ category.key }}: {{ category.value }}
</div>
<p></p>
{{categoryIdTree | json}}
-->