<div class="container">
  <h2>Product List</h2>
  <!-- Filter Form -->
  <div id="wrapper">
    <div id="filter">
      <h2>Filter</h2>
      <form [formGroup]="filterForm" (ngSubmit)="applyFilters($event)">
        <div>
          <input type="text" class="form-control" placeholder="Filter by ID" formControlName="id" />
          <input type="text" class="form-control" placeholder="Filter by Name" formControlName="name" />
        </div>
        <div>
          <input type="number" class="form-control" placeholder="Min Price" formControlName="minPrice" />
          <input type="number" class="form-control" placeholder="Max Price" formControlName="maxPrice" />
        </div>
        <div>
          <input type="number" class="form-control" placeholder="Min Volume" formControlName="minVolume" />
          <input type="number" class="form-control" placeholder="Max Volume" formControlName="maxVolume" />
        </div>
        <div class="col-md-6 form-check">
          <input type="checkbox" class="form-check-input" id="inStock" formControlName="inStockOnly" />
          <label class="form-check-label" for="inStock">In Stock Only</label>
        </div>
        <div>
            <select class="form-control" formControlName="categories" (change)="updateSelectedCategories()">
              <option value="">{{ getCategoryNames(categoryTreeProductLeaf.id) || 'Select Category' }}</option>
              <ng-container *ngIf="categoryTreeProductLeaf.children">
                <ng-container *ngFor="let category of categoryTreeProductLeaf.children">
                  <option [value]="category.id">{{ getCategoryNames(category.id) || 'Unnamed Category' }}</option>
                  <ng-container *ngIf="category.children && category.children.length > 0">
                    <ng-container *ngFor="let subCategory of category.children">
                      <option *ngIf="getCategoryNames(subCategory.id)" [value]="subCategory.id">- {{ getCategoryNames(subCategory.id) }}</option>
                      <ng-container *ngIf="subCategory.children && subCategory.children.length > 0">
                        <ng-container *ngFor="let subSubCategory of subCategory.children">
                          <option *ngIf="getCategoryNames(subSubCategory.id)" [value]="subSubCategory.id">-- {{ getCategoryNames(subSubCategory.id) }}</option>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </select>
        </div>
      </form>
    </div>
    <!-- Sorting Form-->
    <div id="sorting">
      <h2>Sorting</h2>
      <form [formGroup]="sortForm" (ngSubmit)="applySort($event)">
        <div>
          <select class="form-control" formControlName="sortKey">
            <option value="id">ID</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="stock">Stock</option>
            <option value="volume">Volume</option>
            <option value="categories">Categories</option>
          </select>
          <select class="form-control" formControlName="sortOrder">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- Submit and reset filter buttons-->
  <div id="buttons">
    <button class="btn btn-primary" (click)="submitSort()">Apply</button>
    <button class="btn btn-secondary" (click)="resetFilters()">Reset</button>
  <!-- Product List -->
  <table class="table table-striped table-hover">
    <thead class="thead">
      <tr>
        <th (click)="setSortKey('id')">ID</th>
        <th (click)="setSortKey('name')">Name</th>
        <th (click)="setSortKey('price')">Price</th>
        <th (click)="setSortKey('stock')">Stock</th>
        <th (click)="setSortKey('volume')">Volume</th>
        <th (click)="setSortKey('categories')">Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of getFilteredProductsArray()">
        <td> {{ product.product.id }} </td>
        <td> {{ product.product.name }} </td>
        <td> {{ product.product.extra['AGA'].PRI }}</td>
        <td>
          <span>
            {{ product.product.extra['AGA'].LGA > 0 ? 'In Stock' : 'Out of Stock' }}
          </span>
        </td>
        <td>{{ product.product.extra['AGA'].VOL }}</td>
         <td>{{ getCategoryNames(product.categories) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--{{ products | json }}
<p></p>
{{ filteredProducts | json }}
<p></p>
{{categoryTreeProductLeaf | json}}
<p></p>
-->